{{ ansible_managed | comment}}
{% from ".macros.j2" import redis_write_config with context -%}

# Redis configuration file (persistent part writed once at deployment)
{{ redis_write_config(redis_config.persistent) }}

