{{ ansible_managed | comment(decoration='; ') }}

; Start a new pool named '{{ item.key }}'.
; the variable $pool can we used in any directive and will be replaced by the
; pool name ('{{ item.key }}' here)

[{{ item.key }}]
{% if item.value is mapping %}
{% set settings = php56_fpm_pools_defaults | combine(item.value) %}
{% for param in settings | sort if settings[param] != None %}
{{ param }} = {{ settings[param] }}
{% endfor %}
{% endif %}
