#!/bin/bash

{{ ansible_managed | comment }}

if [ -z "${1}" ]
then
  echo "Wrapper for running backups scripts through systemd instantiate services"
  echo
  echo "Usage: ${0} <backup_name>"
  echo
  exit 1
fi

exec_script="${0/.sh/-${1}.sh}"

if [ -f "${exec_script}" -a -x "${exec_script}" ]
then
  exec "${0/.sh/-${1}.sh}"
else
  echo "The script file '${exec_script}' don't exists, exit..."
  exit 1
fi
