[Unit]
Description=Real time performance monitoring
After=network.target httpd.service squid.service nfs-server.service mysqld.service mysql.service named.service postfix.service

[Service]
Type=simple
User=netdata
Group=netdata
ExecStart=/opt/netdata-1.6.0/usr/sbin/netdata -D
Restart=always
# saving a big db on slow disks may need some time
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
